In [1]:
#imports 
import pandas as pd 
import requests

In [6]:
#url = 'https://api.covid19api.com/summary' #Covid information API 
url = "https://api.coincap.io/v2/candles?exchange=poloniex&interval=h8&baseId=ethereum&quoteId=bitcoin" #Bitcoin quote API

In [7]:
r = requests.get(url) #Process the URL in a requests

In [8]:
r #checking if request is ok "200"

In [9]:
json = r.json() #reading request in a json

In [10]:
json.keys() #looking at the keys of the json file

dict_keys(['data', 'timestamp'])

In [11]:
df = pd.DataFrame(json["data"]) #importing the data to a data frame

In [12]:
df #reading the data frame

,open,high,low,close,volume,period
0,0.0786502900000000,0.0792308600000000,0.0784127300000000,0.0787072500000000,329.7734269800000000,1640880000000
1,0.0786966800000000,0.0794534300000000,0.0785859200000000,0.0788280000000000,1296.3274960800000000,1640908800000
2,0.0788655100000000,0.0792726900000000,0.0783739600000000,0.0788957800000000,420.2121211800000000,1640937600000
3,0.0788826400000000,0.0797506800000000,0.0786679200000000,0.0795759300000000,732.9722077500000000,1640966400000
4,0.0796375900000000,0.0798898400000000,0.0786891200000000,0.0786891200000000,228.1108377700000000,1640995200000
...,...,...,...,...,...,...
636,0.0707890400000000,0.0718420600000000,0.0699540400000000,0.0717485800000000,158.8174136600000000,1659196800000
637,0.0717576800000000,0.0720510900000000,0.0712086200000000,0.0716011600000000,40.7807949400000000,1659225600000
638,0.0716038800000000,0.0722600000000000,0.0715218500000000,0.0720072800000000,78.9337751500000000,1659254400000
639,0.0720056100000000,0.0728211600000000,0.0716200000000000,0.0721138900000000,268.0899631100000000,1659283200000
640,0.0720893500000000,0.0721498500000000,0.0720616300000000,0.0721498500000000,0.0203477800000000,1659312000000